/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


@media only screen and (max-width: 400px) {
  body {
    background-size: 300% 300%;
  }
}
